<!-- TODO:  -->
<!-- Agregar [label]="label" a ion-input (ver cómo customizar estilo) -->
<ion-item class="ion-margin-horizontal itemB">
  <!-- <ion-label position="floating" class="login-label">{{label}}</ion-label> -->

  <ion-input #passInput
             name="pass-input"
             [type]="inputType"
             [value]="value"
             label={{label}} 
             label-placement="floating"
             formControlName="formControlName"
             (input)="onInput($event.target.value)"
             (ionChange)="onInput($event.target.value)"
             autocapitalize="off"></ion-input>


  <div class="pass-icon">
      <ion-icon name="eye"
                color="primary"
                *ngIf="showPass"
                (click)="showPass = false; inputType = 'password'"></ion-icon>
      <ion-icon name="eye-off"
                color="light"
                *ngIf="!showPass"
                (click)="showPass = true; inputType = 'text'"></ion-icon>
  </div>
</ion-item>