<ion-header [translucent]="true">
  <ion-toolbar>
    <app-mvz-menu-button></app-mvz-menu-button>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" scroll="false">
  <form (ngSubmit)="changePassword()">
    <ion-item>
      <ion-input [type]="passwordVisibility['currentPassword'] ? 'text' : 'password'"
                 [(ngModel)]="currentPassword"
                 name="currentPassword"
                 label="Contraseña actual"
                 label-placement="floating"
                 required
                 ></ion-input>
      <ion-icon name="eye" slot="end"(click)="togglePasswordVisibility('currentPassword')"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input [type]="passwordVisibility['newPassword'] ? 'text' : 'password'"
                 [(ngModel)]="newPassword"
                 label="Nueva Contraseña)"
                 label-placement="floating"
                 name="newPassword"
                 required>
      </ion-input>
      <ion-icon name="eye" slot="end"(click)="togglePasswordVisibility('newPassword')"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input [type]="passwordVisibility['confirmPassword'] ? 'text' : 'password'"
                 [(ngModel)]="confirmPassword"
                 name="confirmPassword"
                 label="Confirmar Nueva Contraseña"
                 label-placement="floating"
                 required>
      </ion-input>
      <ion-icon name="eye" slot="end"(click)="togglePasswordVisibility('confirmPassword')"></ion-icon>
    </ion-item>
    <br>
    <br>

    <ion-button shape="round"
                expand="full"
                type="submit">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>
