<ion-header [translucent]="true">
  <ion-toolbar>
    <app-mvz-menu-button></app-mvz-menu-button>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll="false">
  <!-- <ion-card *ngIf="transportista">
    <ion-card-content>

          <ion-avatar class="logo-usuario">
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>

      <ion-list>
        <ion-item>
          <ion-label>
            <h2>{{ transportista.nombre }} {{ transportista.apellido }}</h2>
            <p>DNI: {{ transportista.userName }}</p>
            <p>Email: {{ transportista.email }}</p>
            <p>Teléfono: {{ transportista.telefono }}</p>
            <p>CUIT Facturación: {{ transportista.cuitFacturacion }}</p>
            <p>Razón Social Facturación: {{ transportista.razonSocialFacturacion }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
</ion-content>
